@tailwind base;
@tailwind components;
@tailwind utilities;


.filepond--root {
    display: flex;
    width: unset;
    height: 15vh;
    margin-top: 2vh;
}

.filepond--panel-root {
    background-color: white;
}

.filepond--list-scroller {
    height: 100px !important; /* or set a specific height if needed */
}